flows (29).json
[{"id":"4e72165109551ce6","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"cd9c7a613ff0d90f","type":"function","z":"4e72165109551ce6","name":"Kg","func":"message1 = {};\nmessage2 = {};\nmessage3 = {};\n\nmsg.string = msg.payload.split(\" \");\n\nmessage1.payload=msg.string[0];\nmessage2.payload=msg.string[1];\nmessage3.payload=msg.string[2];\n\nif (message1.payload == \"Kg:\"){\n   msg.payload = Number(message2.payload); \n   msg.topic=\"Kg\";\n   return msg;\n}else {\n return null;\n}\n","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":260,"wires":[["af0e46effffa3583","62b06fbc7a1daf6e"]]},{"id":"1c7ede4b9a38683e","type":"function","z":"4e72165109551ce6","name":"Newton","func":"message1 = {};\nmessage2 = {};\nmessage3 = {};\n\nmsg.string = msg.payload.split(\" \");\n\nmessage1.payload=msg.string[0];\nmessage2.payload=msg.string[1];\nmessage3.payload=msg.string[2];\n\nif (message1.payload == \"N:\"){\n   msg.payload = Number(message2.payload); \n   msg.topic=\"N\";\n   return msg;\n}else {\n return null;\n}\n","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":320,"wires":[["fda0f0080b0fb411","214671dab205a9c9"]]},{"id":"696e185fef7f71e1","type":"function","z":"4e72165109551ce6","name":"","func":"var topic=\"select id, time(Fecha),date(Fecha),Kg,Newton from freno1 ORDER BY id ASC\";\nvar msg1={};\n\nmsg1.topic=topic;\nreturn msg1;\n//LIMIT 100","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":40,"wires":[["0e68ddd1a8f004bd"]]},{"id":"80a2737167eb0f39","type":"function","z":"4e72165109551ce6","name":"","func":"var sensor=msg.payload\nvar cont=flow.get('cont')||0;\n \nif (sensor==0){\n    cont+=1;\n    msg.payload=cont;\n   msg.topic=\"sensor\";\n    flow.set('cont',cont);\n    return msg;\n}else{\nreturn null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":840,"wires":[["0a095e322a50176b"]]},{"id":"6c98ebefafadc818","type":"join","z":"4e72165109551ce6","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":280,"wires":[["c0547a8bcd9e4e88","0c8aa2793288d9d5"]]},{"id":"c0547a8bcd9e4e88","type":"function","z":"4e72165109551ce6","name":"","func":"var Kg=msg.payload.Kg;\nvar N=msg.payload.N;\n\nvar sensor1=flow.get('cont')||0;\nif(sensor1%2!=0){\nvar msg1={\"topic\":\"INSERT INTO freno1(id,Kg,Newton)VALUES(null,\"+\"\\'\"+Kg+\"\\'\"+\",\"+\"\\'\"+N+\"\\'\"+\")\"};\n //cont1+=1;\n //flow.set('cont1',cont1);\n\nreturn msg1;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":300,"wires":[[]]},{"id":"0e68ddd1a8f004bd","type":"sqlite","z":"4e72165109551ce6","mydb":"30b97a5bf5c369f8","sqlquery":"msg.topic","sql":"","name":"Freno1","x":1000,"y":60,"wires":[["490b45b781b2dbfa"]]},{"id":"cabf84bc91361ca0","type":"debug","z":"4e72165109551ce6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":340,"wires":[]},{"id":"490b45b781b2dbfa","type":"excel","z":"4e72165109551ce6","name":"","file":"/home/pi/mano2.xlsx","x":1150,"y":60,"wires":[[]]},{"id":"e2676c85708cf3a9","type":"rpi-gpio in","z":"4e72165109551ce6","name":"","pin":"17","intype":"down","debounce":"25","read":false,"bcm":true,"x":120,"y":840,"wires":[["80a2737167eb0f39"]]},{"id":"51965373f362b537","type":"function","z":"4e72165109551ce6","name":"","func":"\nvar topic=\"delete from freno1\";\nvar msg1={};\n\nmsg1.topic=topic;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":180,"wires":[["0e68ddd1a8f004bd"]]},{"id":"62b06fbc7a1daf6e","type":"rbe","z":"4e72165109551ce6","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":430,"y":260,"wires":[["6c98ebefafadc818","7082342e78cde961"]]},{"id":"fda0f0080b0fb411","type":"rbe","z":"4e72165109551ce6","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":430,"y":320,"wires":[["6c98ebefafadc818","7082342e78cde961"]]},{"id":"7cf17eee4a0e6840","type":"serial out","z":"4e72165109551ce6","name":"","serial":"0d0dd2b78cb47c5e","x":890,"y":740,"wires":[]},{"id":"e6d718785a406f3a","type":"ui_button","z":"4e72165109551ce6","name":"","group":"2f7d690752894c06","order":2,"width":4,"height":1,"passthru":false,"label":"reset","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"t","payloadType":"str","topic":"topic","topicType":"msg","x":710,"y":780,"wires":[["7cf17eee4a0e6840","733d0c4fa3b962ae"]]},{"id":"fc0a430801ebce78","type":"serial in","z":"4e72165109551ce6","name":"","serial":"e98d2294116040a7","x":130,"y":260,"wires":[["cd9c7a613ff0d90f","1c7ede4b9a38683e","0a02d4efff8bf881"]]},{"id":"cc2002260318541c","type":"function","z":"4e72165109551ce6","name":"Kg","func":"message1 = {};\nmessage2 = {};\nmessage3 = {};\n\nmsg.string = msg.payload.split(\" \");\n\nmessage1.payload=msg.string[0];\nmessage2.payload=msg.string[1];\nmessage3.payload=msg.string[2];\n\nif (message1.payload == \"Kg:\"){\n   msg.payload = Number(message2.payload); \n   msg.topic=\"Kg2\";\n   return msg;\n}else {\n return null;\n}\n","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":420,"wires":[["6376528c366bab69","42876b6c7341d37c","0dd9edb8ed9fc386"]]},{"id":"067c1dc12cf6d33a","type":"function","z":"4e72165109551ce6","name":"Newton","func":"message1 = {};\nmessage2 = {};\nmessage3 = {};\n\nmsg.string = msg.payload.split(\" \");\n\nmessage1.payload=msg.string[0];\nmessage2.payload=msg.string[1];\nmessage3.payload=msg.string[2];\n\nif (message1.payload == \"N:\"){\n   msg.payload = Number(message2.payload); \n   msg.topic=\"N2\";\n   return msg;\n}else {\n return null;\n}\n","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":520,"wires":[["9cbb8848501f32ba","6a36ff264afcfb56","d228782d3c6752e8"]]},{"id":"0dd9edb8ed9fc386","type":"rbe","z":"4e72165109551ce6","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":450,"y":420,"wires":[["7082342e78cde961"]]},{"id":"6a36ff264afcfb56","type":"rbe","z":"4e72165109551ce6","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":450,"y":520,"wires":[["7082342e78cde961"]]},{"id":"7082342e78cde961","type":"join","z":"4e72165109551ce6","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":500,"wires":[["415dbc1da5959387"]]},{"id":"748534b9c6af282c","type":"sqlite","z":"4e72165109551ce6","mydb":"30b97a5bf5c369f8","sqlquery":"msg.topic","sql":"","name":"Freno5","x":1060,"y":460,"wires":[["e2337d2d7b1316da"]]},{"id":"e2337d2d7b1316da","type":"excel","z":"4e72165109551ce6","name":"","file":"/home/pi/frenos8.xlsx","x":1210,"y":460,"wires":[[]],"outputLabels":["1"]},{"id":"3be2ddcf8ece45fc","type":"function","z":"4e72165109551ce6","name":"","func":"var topic=\"select id, time(Fecha),date(Fecha),Kg,Newton,Kg2,Newton2,Temperatura1 from freno7 ORDER BY id ASC\";\nvar msg1={};\n\nmsg1.topic=topic;\nreturn msg1;\n//LIMIT 100","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":640,"wires":[["748534b9c6af282c"]]},{"id":"3b7fadf6b30f34bb","type":"ui_button","z":"4e72165109551ce6","name":"","group":"2f7d690752894c06","order":1,"width":4,"height":1,"passthru":false,"label":"generar archivo","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":720,"y":640,"wires":[["3be2ddcf8ece45fc"]]},{"id":"82a0dd6129dfff78","type":"function","z":"4e72165109551ce6","name":"","func":"\nvar topic=\"delete from freno7\";\nvar msg1={};\n\nmsg1.topic=topic;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":680,"wires":[["748534b9c6af282c"]]},{"id":"d7461c435355a998","type":"ui_button","z":"4e72165109551ce6","name":"","group":"2f7d690752894c06","order":3,"width":4,"height":1,"passthru":false,"label":"Borrar datos","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":710,"y":680,"wires":[["82a0dd6129dfff78"]]},{"id":"ebffce1dd166ddc8","type":"serial in","z":"4e72165109551ce6","name":"","serial":"0d0dd2b78cb47c5e","x":110,"y":460,"wires":[["cc2002260318541c","067c1dc12cf6d33a","1d22ba3dfad6e79d"]]},{"id":"6376528c366bab69","type":"delay","z":"4e72165109551ce6","d":true,"name":"","pauseType":"delay","timeout":"9","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":470,"y":380,"wires":[[]]},{"id":"9cbb8848501f32ba","type":"delay","z":"4e72165109551ce6","d":true,"name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":470,"y":580,"wires":[[]]},{"id":"1d22ba3dfad6e79d","type":"debug","z":"4e72165109551ce6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":580,"wires":[]},{"id":"0a02d4efff8bf881","type":"debug","z":"4e72165109551ce6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":170,"y":80,"wires":[]},{"id":"733d0c4fa3b962ae","type":"serial out","z":"4e72165109551ce6","name":"","serial":"e98d2294116040a7","x":890,"y":800,"wires":[]},{"id":"9bfa3a069ebbdc05","type":"join","z":"4e72165109551ce6","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":420,"wires":[["415dbc1da5959387"]]},{"id":"6fd6da99a5d40174","type":"serial in","z":"4e72165109551ce6","name":"","serial":"b788b388.b04418","x":110,"y":640,"wires":[["4cac670b9e2d860b","1b5dbb25edda1708","2f8146568d615cf7"]]},{"id":"4cac670b9e2d860b","type":"function","z":"4e72165109551ce6","name":"","func":"message1 = {};\nmessage2 = {};\nmessage3 = {};\n\nmsg.string = msg.payload.split(\" \");\n\nmessage1.payload=msg.string[0];\nmessage2.payload=msg.string[1];\nmessage3.payload=msg.string[2];\n\nif (message1.payload == \"C:\"){\n   msg.payload = Number(message2.payload); \n   msg.topic=\"C1\";\n   return msg;\n}else {\n return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":640,"wires":[["746ecd9dad2e4eac"]]},{"id":"746ecd9dad2e4eac","type":"rbe","z":"4e72165109551ce6","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":470,"y":640,"wires":[["7082342e78cde961"]]},{"id":"415dbc1da5959387","type":"function","z":"4e72165109551ce6","name":"","func":"var Kg=msg.payload.Kg;\nvar N=msg.payload.N;\nvar Kg2=msg.payload.Kg2;\nvar N2=msg.payload.N2;\nvar T1=msg.payload.C1;\nvar sensor1=flow.get('cont')||0;\nif(sensor1%2==0){\nvar msg1={\"topic\":\"INSERT INTO freno7(id,Kg,Newton,Kg2,Newton2,Temperatura1)VALUES(null,\"+\"\\'\"+Kg+\"\\'\"+\",\"+\"\\'\"+N+\"\\'\"+\",\"+\"\\'\"+Kg2+\"\\'\"+\",\"+\"\\'\"+N2+\"\\'\"+\",\"+\"\\'\"+T1+\"\\'\"+\")\"};\n //cont1+=1;\n //flow.set('cont1',cont1);\n\nreturn msg1;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":460,"wires":[["748534b9c6af282c","cabf84bc91361ca0"]]},{"id":"1b5dbb25edda1708","type":"debug","z":"4e72165109551ce6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":740,"wires":[]},{"id":"2f8146568d615cf7","type":"ui_text","z":"4e72165109551ce6","group":"8382c5e6.e1ad88","order":3,"width":5,"height":1,"name":"","label":"Temperatura","format":"{{msg.payload}}","layout":"row-left","className":"","x":310,"y":700,"wires":[]},{"id":"42876b6c7341d37c","type":"ui_text","z":"4e72165109551ce6","group":"8382c5e6.e1ad88","order":7,"width":4,"height":1,"name":"kg pie","label":"Pie [Kg]","format":"{{msg.payload}}","layout":"row-left","className":"","x":450,"y":460,"wires":[]},{"id":"af0e46effffa3583","type":"ui_text","z":"4e72165109551ce6","group":"8382c5e6.e1ad88","order":6,"width":5,"height":1,"name":"","label":"Mano [Kg]","format":"{{msg.payload}}","layout":"row-left","className":"","x":450,"y":220,"wires":[]},{"id":"0c8aa2793288d9d5","type":"debug","z":"4e72165109551ce6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":260,"wires":[]},{"id":"0a095e322a50176b","type":"function","z":"4e72165109551ce6","name":"","func":"\nvar boton=flow.get('cont')||0;\nif(boton%2==0){\n\n msg.payload=true;\n\nreturn msg;\n}else{ \n    msg.payload=false;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":840,"wires":[["cefdab5dd87d6879"]]},{"id":"cefdab5dd87d6879","type":"ui_switch","z":"4e72165109551ce6","name":"","label":"Estado de datos","tooltip":"","group":"8382c5e6.e1ad88","order":1,"width":5,"height":1,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"play_arrow","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"pause","offcolor":"red","animate":false,"className":"","x":420,"y":920,"wires":[[]]},{"id":"214671dab205a9c9","type":"ui_text","z":"4e72165109551ce6","group":"8382c5e6.e1ad88","order":8,"width":5,"height":1,"name":"","label":"Mano [N]","format":"{{msg.payload}}","layout":"row-left","className":"","x":440,"y":360,"wires":[]},{"id":"d228782d3c6752e8","type":"ui_text","z":"4e72165109551ce6","group":"8382c5e6.e1ad88","order":9,"width":4,"height":1,"name":"n pie","label":"Pie [N]","format":"{{msg.payload}}","layout":"row-left","className":"","x":450,"y":560,"wires":[]},{"id":"04d67dda3182e45c","type":"ui_spacer","z":"4e72165109551ce6","name":"spacer","group":"8382c5e6.e1ad88","order":2,"width":4,"height":1},{"id":"38c7d9fd03aaaf7c","type":"ui_spacer","z":"4e72165109551ce6","name":"spacer","group":"8382c5e6.e1ad88","order":4,"width":4,"height":1},{"id":"3585b2c4c7a1211c","type":"ui_spacer","z":"4e72165109551ce6","name":"spacer","group":"8382c5e6.e1ad88","order":5,"width":9,"height":1},{"id":"30b97a5bf5c369f8","type":"sqlitedb","db":"/home/pi/Freno7.db","mode":"RWC"},{"id":"0d0dd2b78cb47c5e","type":"serial-port","serialport":"/dev/ttyUSB2","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"2f7d690752894c06","type":"ui_group","name":"Propiedades","tab":"6a1227b2.cc32e8","order":2,"disp":true,"width":4,"collapse":false,"className":""},{"id":"e98d2294116040a7","type":"serial-port","serialport":"/dev/ttyUSB1","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"b788b388.b04418","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"8382c5e6.e1ad88","type":"ui_group","name":"Freno 1","tab":"6a1227b2.cc32e8","order":1,"disp":true,"width":9,"collapse":false,"className":""},{"id":"6a1227b2.cc32e8","type":"ui_tab","name":"Frenos","icon":"airport_shuttle","order":2,"disabled":false,"hidden":false}]